.container {
  max-width: 800px;
  padding-left: var(--spacing);
  padding-right: var(--spacing);
}

.site-title a {
  --color: var(--h1-color);
}

.post-title {
  margin: 0;
}

.post-title a {
  --color: var(--h2-color);
}

.posts {
  margin: var(--block-spacing-vertical) 0;
}

.posts article {
  margin: var(--spacing) 0;
  padding: var(--spacing);
}

.posts section {
  text-align: right;
}

pre {
  background: #18232c !important;
}
